<section class="landingPage_container">
  <div class="image">
  	<img src="/src/app/component/landingPage/img/protrait_vector-lofi.png">
  </div>
  <div class="landingPage_text">
  	<div class="mission_introduction">
  	  <div class="natural">NATURAL</div>
  	  <div class="and">&</div>
  	  <span class="beautiful"> BEAUTIFUL</span>
  	  <span class="smallText"><span class="skin">Skin </span>awaits...</span>
  	</div>
  	<div class="mission_statement">
  	  <span class="title"><span class="emphasis">Personalized Skin Treatments</span></span><span class="intro">Everybody has different types of skin, Why get the same package?</span><span class="statement">We have treatments tailored to <span class="emphasis"> YOUR </span> skin type</span>
  	  <ul class="skinTypes">
  	  	<li>Dry Skin</li>
  	  	<li>Oily Skin</li>
  	  	<li>Sensitive Skin</li>
  	  	<li>Combination Skin</li>
  	  	<li>Etc</li>
  	  </ul>
  	</div>
  </div>
</section>
<section>
  <cry-carousel></cry-carousel>
</section>

<section class="landingBanner">
  <header class="firstBorder">
    <div class="secondBorder">
      <div class="thirdBorder">
        <div class="topFont">WELCOME TO</div>
        <div class="styleFont">Crystal Skincare</div>
      </div>
    </div>
  </header>
  <div>
    <div class="input-group mb-2">
      <input type="text" placeholder="Name" class="form-control" aria-label="Name" aria-decribedBy="inputGroup">
      <input type="text" placeholder="Email" class="form-control" aria-label="Email" aria-decribedBy="inputGroup">
      <input type="text" placeholder="Name" class="form-control" aria-label="Name" aria-decribedBy="inputGroup">

    </div>
  </div>
</section>
