<div class="month_container" ng-init="calendar.findDayOfWeek()">
  <div class="monthSelector">
    <a class="prev" ng-click="calendar.prevMonth()"><div class="glyphicon glyphicon-chevron-left"></div></a>
    <div class="month" ng-model="month">{{calendar.monthObject.month}} {{calendar.year}}</div>
    <a class="next" ng-click="calendar.nextMonth()"><div class="glyphicon glyphicon-chevron-right"></div></a>
  </div>
  <div class="todayButton" ng-click="calendar.setToday()">Today {{calendar.getTime()}}</div>
</div>
<div class="calendar_container" ng-init="calendar.getDate()">
  <div class="sunday day">Sunday</div>
  <div class="monday day">Monday</div>
  <div class="tuesday day">Tuesday</div>
  <div class="wednesday day">Wednesday</div>
  <div class="thursday day">Thursday</div>
  <div class="friday day">Friday</div>
  <div class="saturday day">Saturday</div>
  <div class="month_days" ng-repeat="days in calendar.numberOfDays" ng-class="calendar.findDayOfWeek($index)">
    <cry-date days = "days"></cry-date>
  </div>
</div>