<div class="month_container" ng-init="calendar.findDayOfWeek()">
  <div class="monthSelector">
    <a class="prev" ng-click="calendar.prevMonth()"><div class="glyphicon glyphicon-chevron-left"></div></a>
    <div class="month" ng-model="month">{{calendar.monthObject.month}} {{calendar.year}}</div>
    <a class="next" ng-click="calendar.nextMonth()"><div class="glyphicon glyphicon-chevron-right"></div></a>
  </div>
<div class="calendar_container" ng-init="calendar.getDate()" >
  <div class="sunday day">Su</div>
  <div class="monday day">Mo</div>
  <div class="tuesday day">Tu</div>
  <div class="wednesday day">We</div>
  <div class="thursday day">Th</div>
  <div class="friday day">Fr</div>
  <div class="saturday day">Sa</div>
  <div class="month_days" ng-repeat="days in calendar.numberOfDays" ng-class="calendar.selectedDate($index) + ' ' + calendar.findDayOfWeek($index)" ng-model="days"
  ng-click="calendar.getDay(days)" ng-style="dayOfWeek">
    <cry-date  days = "days"></cry-date>
  </div>
</div>
</div>
