.month_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 29vw;
  .monthSelector {
    display: flex;
    width: 25vw;
    align-items: center;
    justify-content: space-between;
    .month {
      font-size: 1.3vw;
      font-weight: 600;
      color: rgba(0,0,0,1);
    }
    .glyphicon {
      font-size: 1vw;
      color: rgba(0,0,0,1);
      padding: 1vw;
      z-index: 1;
    }
    .next {
      cursor: pointer;
    }
    .prev {
      cursor: pointer;
    }
    .next:hover {
      background-color: #007bff;
      opacity: .6;
      .glyphicon {
        color: white;
      }
      transition: .6s ease-in-out;
    }
    .prev:hover {
      background-color: #007bff;
      opacity: .6;
      .glyphicon {
        color: white;
      }
      transition: .6s ease-in-out;
    }
    next:active {
      background-color: white;
      opacity: 1;
      .glyphicon {
        color: #77c58c;
      }
      transition: .8s;
    }
  }
  .todayButton {
    font-size: 2vw;
    cursor: pointer;
    padding-bottom:1vw;
    color: #666;
  }
}

.calendar_container {
  display: grid;
  text-align: center;
  width: 25vw;
  height: 25vw;
  grid-template-columns: 3.57vw 3.57vw 3.57vw 3.57vw 3.57vw 3.57vw 3.57vw;
  grid-template-rows: 3.57vh 3.57vw 3.57vw 3.57vw 3.57vw 3.57vw 3.57vw;
  grid-gap: .3vw;

  .day {
    font-size: 1.5vw;
    color: rgba(0,0,0,.4);
    font-weight: bold;
    align-items: center;
    justify-content: center;
  }

  .sundaywk1 {
    grid-column: 1;
  }
  .mondaywk1 {
    grid-column: 2;
  }
  .tuesdaywk1 {
    grid-column: 3;
  }
  .wednesdaywk1 {
    grid-column: 4;
  }
  .thursdaywk1 {
    grid-column: 5;
  }
  .fridaywk1 {
    grid-column: 6;
  }
  .saturdaywk1 {
    grid-column: 7;
  }
  .month_days {
    justify-content: center;
  }
  .hover {
    background-color: #007bff;
    border-radius: 50%;
    opacity: .6;
    div {
      color: #fff;
    }
  }
}

.month_days {
  cursor: pointer;
}
.month_days:active {
  background-color: #fff;
  border-radius: 50%;
  transition: .4s;
  color: black;
  opacity: 1;
}
.month_days:hover {
  background-color: #007bff;
  border-radius: 50%;
  transition: .4s;
  div {
    color: white;
  }
  opacity: 1;
}
