.service_banner_container {
  width: 80vw;
  height: 200vh;
  //background-image: url("/img/layingLady.png");
  background-image: url("/src/app/component/servicePage/serviceBanner/img/layingLady.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 49.45% 60%;
  opacity: .7;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  .service_banner_top {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .quote_container {
    height: 28vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: .5vw;
    background-color: rgba(0,0,0,.15);
    padding-right: 2vw;
    opacity: 1;
    .quote {
      font-family: georgia, serif;
      font-style: italic;
      font-size: 4vw;
      color: #6c8ac6;
      color: #fff;
      font-weight: 700;
      line-height: 5vw;
      padding-right: 4vw;
      text-align: right;
      em {
        color: #ee6c79;
      }
    }
    .quote::before {
      content: "\201C";
      font-size: 8.5vw;
      color: #ee6c79;
    }
    .endQuote {
      align-self: flex-end;
      font-size: 8.5vw;
      color: #ee6c79;
      font-weight: 700;
      font-family: georgia, serif;
      font-style: italic;
      padding-right: 2vw;
    }
    .author {
      align-self: flex-end;
      font-weight: bold;
      font-size: 1.4vw;
      margin-top: .25vw;
      padding: .2vw;
      color: #666;
    }
  }
  .welcome {
    width: 80vw;
    height: 100vh;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    .title {
      div {
        font-size: 4vw;
        color: #fff;
        font-weight: bold;
        letter-spacing: 3px;
      }
      .caption {
        color: white;
        font-size: 2vw;
        padding: 1vw;
        font-weight: normal;
        border-left: solid 1vw white;
        em {
          font-weight: bold;
          font-style: normal;
        }
      }
      padding: 5vw;
      border-right: 22vw solid  #ee6c79;
      background-color: rgba(238, 108, 121, .7);
    }

  }
}
