<div class="magicpeel_container">
  <div style="color:#fff;font-size:5vw;position:relative;left:24vw;top:6vw">MAGIC</div><div style="color:#666;font-size:5vw;position:relative;left:25.5vw;top:2.6vw;">PEEL</div>
</div>

<div class="magicpeel_caption_container">
  <div class="step1" ng-click="magicpeel.peel()" ng-style="peelRegress">
  	<div ng-style="step1_text">STEP 1</div>
  	<div class="peel" ng-style="peelProgress">
    </div>
    <div ng-style="step1_desc" style="visibility:hidden;opacity:0;transition:visibility 0s, opacity 0.8s linear;width:40vw;display:flex;flex-direction:column;justify-content:center;align-items:center;font-size:2.4vw;color:#267eb0">CLEANSING & EXFOLIATION<div style="font-size:1.5vw">Dead skin cells removed to reveal healthy new skin</div>
    </div>
  </div>

  <div class="step2" ng-click="magicpeel.peel2()" ng-style="peelRegress2">
  	<div ng-style="step2_text">STEP 2</div>
  	<div class="peel2" ng-style="peelProgress2">
    </div>
    <div ng-style="step2_desc" style="visibility:hidden;opacity:0;transition:visibility 0s, opacity 0.8s linear;width:40vw;display:flex;flex-direction:column;justify-content:center;align-items:center;font-size:2.4vw;color:#76bde5">WATER PEEL<div style="font-size:1.5vw">Loosesn dirt and debris from pores without irritation</div>
    </div> 
  </div>

  <div class="step3" ng-click="magicpeel.peel3()" ng-style="peelRegress3">
  	<div ng-style="step3_text">STEP 3</div>
  	<div class="peel3" ng-style="peelProgress3">
    </div>
    <div ng-style="step3_desc" style="visibility:hidden;opacity:0;transition:visibility 0s, opacity 0.8s linear;width:40vw;display:flex;flex-direction:column;justify-content:center;align-items:center;font-size:2.4vw;color:#b1cbfe">EXTRACTIONS<div style="text-align:center;font-size:1.5vw">Painless, automated extractions using vaccuum suction to draw out impurities</div>
    </div> 
  </div>
  <div class="step4" ng-click="magicpeel.peel4()" ng-style="peelRegress4">
  	<div ng-style="step4_text">STEP 4</div>
  	<div class="peel4" ng-style="peelProgress4">
    </div>
    <div ng-style="step4_desc" style="visibility:hidden;opacity:0;transition:visibility 0s, opacity 0.8s linear;width:40vw;display:flex;flex-direction:column;justify-content:center;align-items:center;font-size:2.4vw;color:#b4b5b7">DEEP CLEANSING<div style="text-align:center;font-size:1.5vw">Cleanses deeply within the skin</div>
    </div> 
  </div>

</div>