<div style="background-color:black;opacity:.7;height:20vw;color:white;text-align:center;vertical-align:middle;line-height:30vh;font-size:2.5vw;background-image:url('/src/app/component/landingPage/img/landingBanner.png');background-size:cover;">
</div>
<div class="landingPage_container">
  <div class="image">
  	<img src="/src/app/component/landingPage/img/protrait_vector-lofi.png">
  </div>
  <div class="landingPage_text">
  	<div class="mission_introduction">
  	  <div class="natural">NATURAL</div>
  	  <div class="and">&</div>
  	  <span class="beautiful"> BEAUTIFUL</span> 
  	  <span class="smallText"><span class="skin">Skin </span> awaits... </span>
  	</div>
  	<div class="mission_statement">
  	  <span class="title"><span class="emphasis">Personalized Skin Treatments</span></span><span class="intro">Everybody has different types of skin, Why get the same package?</span><span class="statement">We have treatments tailored to <span class="emphasis"> YOUR </span> skin type</span>
  	  <ul class="skinTypes">
  	  	<li>Dry Skin</li>
  	  	<li>Oily Skin</li>
  	  	<li>Sensitive Skin</li>
  	  	<li>Combination Skin</li>
  	  	<li>Etc</li>
  	  </ul>
  	</div>
  </div>
</div>
<div class="landingPage_container_2">
  <div class="benefit_container">
    <div class="wrinkle">
      WRINKLES
      <div class="wrinkleDetail">
      </div>
    </div>
    <div class="freckles">
      FRECKLES
      <div class="frecklesDetail">
      </div>
    </div>
    <div class="hyperPigment">
      HYPER PIGMENTATION
      <div class="hyperPigmentDetail">
      </div>
    </div>
    <div class="lifting">
      SKIN LIFTING
      <div class="liftingDetail">
      </div>
    </div>
  </div>
</div>