
<nav id="header_nav" ng-class="navClass" role="navigation">
  <div id="navMenuContainer" ng-class="navLayout">
    <div id="brand_logo">
      <a ui-sref="welcome">
        <img ng-class="navLogo" src="/img/logo2.png" onerror='this.onerror = null; this.src="/src/app/component/navbar/img/logo2.png"'>
        <div class="navName">
          <h1>CRYSTAL</h1>
          <h1>SKINCARE</h1>
        </div>
        <h2 class="caption">MEDSPA | FACIALS | MASSAGE</h2>
      </a>
    </div>
  </div>

  <div id="selection" ng-class="navSelect">
    <ul>
      <li>
        <a ui-sref="service">
          <div id="navSelectService" ng-class="navService">
            <h3>SERVICES</h3>
            <p ng-show="navbar.isLarge">Exceed your skincare goals. Click here to see a variety of treatment options</p>
          </div>
        </a>
      </li>
      <li>
        <a ui-sref="reservation">
          <div id="navSelectReservations" ng-class="navReservations">
            <h3>RESERVATIONS</h3>
            <p ng-show="navbar.isLarge">Make your time our time. Click here to check availability and to make reservations</p>
          </div>
        </a>
      </li>
    </ul>
    <div class="location_container">
      <div class="glyphicon glyphicon-map-marker" style="font-size:2.3vw;padding:.5vw;color:#fff;width:5vw;margin-bottom:.5vw;"></div>
      <address class="address">7023 Little River Tnpk Suite 202
      Annandale, VA 22003</address>
    </div>
    <div class="phone_container">
      <div class="glyphicon glyphicon-earphone" style="font-size:2.3vw;padding:.5vw;margin-bottom:.5vw;"></div>
      <div class="phone">(571) 451-7500</div>
    </div>
  </div>

  <!--<div id="appointment_searchbar">
    <div class="search_header">
        YOUR APPOINTMENTS
    </div>
    <div class="input-group">
      <span class="input-group-addon" style="padding:.05vw 1vw .05vw 1vw;font-size:2vw;">#</span>
      <input type="text" class="form-control input-sm" style="margin-right:0;">
        <span class="input-group-btn">
          <button type="button" class="btn btn-info btn-sm" style="margin:0">
            <span type="button" class="glyphicon glyphicon-search" style="color:#fff;"></span>
          </button>
        </span>
      </div>
    </div>
  -->
  <div class="social_links">
  </div>
</nav>
