<div class="slideshow_container">
  <div class="controls" >
    <div class="glyphicon glyphicon-chevron-left" ng-mouseover="carousel.leftStart()" ng-mouseleave="carousel.leftEnd()"></div>
    <div class="glyphicon glyphicon-chevron-right" ng-mouseover="carousel.rightStart()" ng-mouseleave="carousel.rightEnd()"></div>
  </div>
  <div class="slideshow_container" ng-style="slideshow">
    <div class="wrinkle">
      WRINKLES
      <div class="wrinkleDetail">
      </div>
    </div>
    <div class="freckles">
      FRECKLES
      <div class="frecklesDetail">
      </div>
    </div>
    <div class="hyperPig">
      HYPER PIGMENTATION
      <div class="hyperPigDetail">
      </div>
    </div>
    <div class="lifting">
      SKIN LIFTING
      <div class="liftingDetail">
      </div>
    </div>
  </div>
</div>

<!--<section class="vector_container_one">
  <div class="acne" ng-click="carousel.acneFlip()">
    <div class="img_container" ng-show="!carousel.acneClick">
      <img src="/src/app/component/landingPage/img/acneCare.png">
      <img src="/img/acneCare.png">
      <h2 class="title">
        ACNE
      </h2>
      <div class="secondTitle">
         TREATMENT
      </div>
    </div>
    <p ng-show="carousel.acneClick" ng-style="pacneshow">
      Fight back those pesky bumps!
      Main factors for acne include:
      Excess Oil Production, Bacteria,
      Clogged pores from dead skin cells,
      and Hormone Inbalance.
    </p>
  </div>
  <div class="chemical" ng-click="carousel.chemFlip()">
    <div class="img_container" ng-show="!carousel.chemClick">
      <img src="/src/app/component/landingPage/img/chemicalCare.png">
      <img src="/img/chemicalCare.png">
      <h2 class="title">
        CHEMICAL
      </h2>
      <div class="secondTitle">
        PEELING
      </div>
    </div>
    <p ng-show="carousel.chemClick">
      Safely peel away layers of
      built up dead skin cells and
      underneath is a beautiful
      layer of new and clean skin cells.
    </P>
  </div>
  <div class="laser" ng-click="carousel.laserFlip()">
    <div class="img_container" ng-show="!carousel.laserClick">
      <img src="/src/app/component/landingPage/img/laserCare.png">
      <img src="/img/laserCare.png">
      <h2 class="title">
        LASER
      </h2>
      <div class="secondTitle">
        TREATMENT
      </div>
    </div>
    <p ng-show="carousel.laserClick">
      Stimulate cellular renewal by
      zapping imperfections and troublesome
      sunspots, hyper-pigmention areas, and
      acne scars.
    </p>
  </div>
  <div class="lift" ng-click="carousel.liftFlip()">
    <div class="img_container" ng-show="!carousel.liftClick">

      <img src="/src/app/component/landingPage/img/liftCare.png">
      <img src="/img/liftCare.png">

      <h2 class="title">
        SKIN
      </h2>
      <div class="secondTitle">
        LIFTING
      </div>
    </div>
    <p ng-show="carousel.liftClick">

    </p>
  </div>
  <div class="lighting" ng-click="carousel.lightFlip()">
    <div class="img_container" ng-show="!carousel.lightClick">
      <img src="/src/app/component/landingPage/img/lighteningCare.png">
      <img src="/img/lighteningCare.png">
      <h2 class="title">
        SKIN
      </h2>
      <div class="secondTitle">
        LIGHTENING
      </div>
    </div>
    <p ng-show="carousel.lightClick">
    </p>
  </div>
  <div class="wrinkle" ng-click="carousel.wrinkleFlip()">
    <div class="img_container" ng-show="!carousel.wrinkleClick">

      <img src="/src/app/component/landingPage/img/wrinkleCare.png">
      <img src="/img/wrinkleCare.png">
      <h2 class="title">
        WRINKLE
      </h2>
      <div class="secondTitle">
        CARE
      </div>
    </div>
    <p ng-show="carousel.wrinkleClick">
    </p>
  </div>
</section>-->
