<cry-service-banner></cry-service-banner>

<div class="servicePage_container">
  <div class="icon_container" ng-init="servicePage.displaySlideshow()">
  	<div id="wrinkle_care" ng-class="wrinkle" ng-click="servicePage.expandWrinkle()">
  	  <div ng-class="wrinkle">
  	    <img class="show-hide" ng-show="servicePage.isWrinkleLarge()" src="/src/app/component/servicePage/img/wrinkleCare.png">
  	    <div ng-show="!servicePage.isWrinkleLarge()" class="small_box_container">
  	      <div class="title">
  	      	WRINKLE TREATMENT
  	      </div>
  	      <div class="caption">
  	        Click to expand
  	      </div>
  	    </div>
  	    <div ng-show="servicePage.isWrinkleLarge()" class="text_container">
  	  	  <div class="top">
  	        <div class="title">Wrinkle Treatment</div>
  	        <div class="text">
  	  	      Reduce the appearance of fine lines and wrinkles
  	        </div>
  	      </div>
  	      <div class="caption">
  	        <div class="first_cap">
  	          The causes of wrinkles are more or less <span class="emp">unavoidable.</span>
  	        </div>
  	        <div class="second_cap">
  	          <div class="left_cap">
  	      	    <div class="title">
  	      	      Contributing Factors:<span class="caption">
  	      	      Aging, Sun Exposure, Muscle Contraction</span>
  	      	    </div>
              </div>
  	        </div>
  	      </div>
  	   </div>
  	  </div>
    </div>
    <div id="acne_care" ng-class="acne" ng-click="servicePage.expandAcne()">
      <div ng-class="acne">
  	    <img ng-show="servicePage.isAcneLarge()" src="/src/app/component/servicePage/img/acneCare.png">
  	    <div ng-show="!servicePage.isAcneLarge()" class="small_box_container">
  	      <div class="title">
  	      	ACNE TREATMENT
  	      </div>
  	      <div class="caption">
  	        Click to expand
  	      </div>
  	    </div>
  	    <div class="text_container" ng-show="servicePage.isAcneLarge()">
  	  	  <div class="top">
  	        <div class="title">Acne Treatment</div>
  	        <div class="text">
  	  	      Reduce the appearance of fine lines and wrinkles
  	        </div>
  	      </div>
  	      <div class="caption">
  	        <div class="first_cap">
  	          The causes of wrinkles are more or less <span class="emp">unavoidable.</span>
  	        </div>
  	        <div class="second_cap">
  	          <div class="left_cap">
  	      	    <div class="title">
  	      	      Contributing Factors:<span class="caption">
  	      	      Aging, Sun Exposure, Muscle Contraction</span>
  	      	    </div>
              </div>
            </div>
  	      </div>
  	    </div>
  	  </div>
    </div>
    <div id="laser_care" ng-class="laser" ng-click="servicePage.expandLaser()">
      <div ng-class="laser">
  	    <img ng-show="servicePage.isLaserLarge()" src="/src/app/component/servicePage/img/laserCare.png">
  	    <div ng-show="!servicePage.isLaserLarge()" class="small_box_container">
  	      <div class="title">
  	      	LASER TREATMENT
  	      </div>
  	      <div class="caption">
  	        Click to expand
  	      </div>
  	    </div>
  	    <div class="text_container" ng-show="servicePage.isLaserLarge()">
  	  	  <div class="top">
  	        <div class="title">Laser Treatment</div>
  	        <div class="text">
  	  	      Reduce the appearance of fine lines and wrinkles
  	        </div>
  	      </div>
  	      <div class="caption">
  	        <div class="first_cap">
  	          The causes of wrinkles are more or less <span class="emp">unavoidable.</span>
  	        </div>
  	        <div class="second_cap">
  	          <div class="left_cap">
  	      	    <div class="title">
  	      	      Contributing Factors:<span class="caption">
  	      	      Aging, Sun Exposure, Muscle Contraction</span>
  	      	    </div>
              </div>
            </div>
  	      </div>
  	    </div>
  	  </div>
    </div>
    <div id="lighten_care" ng-class="lighten" ng-click="servicePage.expandLighten()">
      <div ng-class="lighten">
  	    <img ng-show="servicePage.isLightenLarge()" src="/src/app/component/servicePage/img/lighteningCare.png">
  	    <div ng-show="!servicePage.isLightenLarge()" class="small_box_container">
  	      <div class="title">
  	      	SKIN LIGHTENING
  	      </div>
  	      <div class="caption">
  	        Click to expand
  	      </div>
  	    </div>
  	    <div class="text_container" ng-show="servicePage.isLightenLarge()">
  	  	  <div class="top">
  	        <div class="title">Skin Lightening</div>
  	        <div class="text">
  	  	      Reduce the appearance of fine lines and wrinkles
  	        </div>
  	      </div>
  	      <div class="caption">
  	        <div class="first_cap">
  	          The causes of wrinkles are more or less <span class="emp">unavoidable.</span>
  	        </div>
  	        <div class="second_cap">
  	          <div class="left_cap">
  	      	    <div class="title">
  	      	      Contributing Factors:<span class="caption">
  	      	      Aging, Sun Exposure, Muscle Contraction</span>
  	      	    </div>
              </div>
            </div>
  	      </div>
  	    </div>
  	  </div>
    </div>
    <div id="chemical_care" ng-class="chemical" ng-click="servicePage.expandChemical()">
      <div ng-class="chemical">
  	    <img ng-show="servicePage.isChemicalLarge()" src="/src/app/component/servicePage/img/chemicalCare.png">
  	    <div ng-show="!servicePage.isChemicalLarge()" class="small_box_container">
  	      <div class="title">
  	      	CHEMICAL PEELING
  	      </div>
  	      <div class="caption">
  	        Click to expand
  	      </div>
  	    </div>
  	    <div class="text_container" ng-show="servicePage.isChemicalLarge()">
  	  	  <div class="top">
  	        <div class="title">Chemical Peeling</div>
  	        <div class="text">
  	  	      Reduce the appearance of fine lines and wrinkles
  	        </div>
  	      </div>
  	      <div class="caption">
  	        <div class="first_cap">
  	          The causes of wrinkles are more or less <span class="emp">unavoidable.</span>
  	        </div>
  	        <div class="second_cap">
  	          <div class="left_cap">
  	      	    <div class="title">
  	      	      Contributing Factors:<span class="caption">
  	      	      Aging, Sun Exposure, Muscle Contraction</span>
  	      	    </div>
              </div>
            </div>
  	      </div>
  	    </div>
  	  </div>
    </div>
    <div id="lift_care" ng-class="lift" ng-click="servicePage.expandLift()">
      <div ng-class="lift">
  	    <img ng-show="servicePage.isLiftLarge()" src="/src/app/component/servicePage/img/liftCare.png">
  	    <div ng-show="!servicePage.isLiftLarge()" class="small_box_container">
  	      <div class="title">
  	      	SKIN LIFTING
  	      </div>
  	      <div class="caption">
  	        Click to expand
  	      </div>
  	    </div>
  	    <div class="text_container" ng-show="servicePage.isLiftLarge()">
  	  	  <div class="top">
  	        <div class="title">Skin Lifting</div>
  	        <div class="text">
  	  	      Reduce the appearance of fine lines and wrinkles
  	        </div>
  	      </div>
  	      <div class="caption">
  	        <div class="first_cap">
  	          The causes of wrinkles are more or less <span class="emp">unavoidable.</span>
  	        </div>
  	        <div class="second_cap">
  	          <div class="left_cap">
  	      	    <div class="title">
  	      	      Contributing Factors:<span class="caption">
  	      	      Aging, Sun Exposure, Muscle Contraction</span>
  	      	    </div>
              </div>
            </div>
  	      </div>
  	    </div>
  	  </div>
    </div>
  </div>
  <div class="icon_controller">
  	<div class="prev">
  	  <div href="#" class="btn btn-info btn-md" ng-click="servicePage.prev()">
        <span class="glyphicon glyphicon-chevron-left"></span> Left
      </div>
  	</div>
  	<div class="help">
  	  Service Navigation Help
  	</div>
  	<div class="next">
  	  <div href="#" class="btn btn-info btn-md" ng-click="servicePage.next()">
        Right <span class="glyphicon glyphicon-chevron-right"></span> 
      </div>
  	</div>
  </div>
</div>
<cry-service-technology></cry-service-technology>